body {
  margin: 0;
  padding: 0;
  font-family: "Lato", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  min-height: 66px !important;
}

.btn.waves-effect {
  display: block;
  margin: 0 auto;
}

.select-wrapper input.select-dropdown {
  color: #9e9eab;
}

.select-active {
  border-bottom: 2px solid #4caf50 !important;
}

#right {
  height: 520px;
  width: 405px;
  border-color: #3b5998;
  border-bottom-left-radius: 20px;
  position: fixed;
  bottom: 400px;
  top: 30vh;
}

#right > a {
  width: 80px;
  text-align: center;
  background-color: #3b5998;
  bottom: calc(100% - 78px) !important;
}

/* Fb widget */
.op {
  opacity: 0;
  z-index: 10;
}

/* Task cards */

.task_info {
  background-color: #e0f7fa !important;
}

.task_all {
  background-color: #ffebee !important;
}

span.task_all {
  color: red !important;
}

span.task_eko {
  color: green !important;
}

span.task_info {
  color: #2196f3 !important;
}

.task_eko {
  background-color: #e8f5e9 !important;
}

.card .card-action span {
  font-weight: bold;
}

a.active {
  position: relative;
  transition: color 0.5s ease;
}

nav ul a:hover {
  background-color: transparent !important;
}

a.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  border-radius: 25px;
  left: 0;
  width: 100%;
  border: 1.5px solid #fff;
}

.preloader-wrapper {
  position: absolute !important;
  left: calc(50% - 32px);
  top: calc(50% - 32px);
}

.sidenav a {
  width: 100% !important;
  height: 50px !important;
}

.sidenav {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.taskCard {
  margin-bottom: 0px !important;
}

.sidenav #sort_item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.sort_desktop input {
  font-weight: 400;
  font-family: "Lato", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.sidenav #sort_item:hover {
  background-color: #f2f2f2;
}

.text-bold {
  font-weight: bold !important;
}

.none-tasks {
  background: #e8f5e9 !important;
  color: black !important;
}

#modal1 h4 {
  margin-bottom: 20px;
}

#modal1 p {
  margin-left: 5px;
}

a.green.white-text {
  margin-right: 10px !important;
}

.alert {
  width: 100%;
  padding: 10px 20px;
  background-color: #f8d7da;
  color: rgb(158, 111, 115);
  margin-bottom: 20px !important;
  text-align: center;
  border-radius: 8px;
}

.sort input.select-dropdown {
  color: #fff;
  border-color: transparent !important;
  display: flex !important;
  align-items: center !important;
  margin-bottom: 0 !important;
  text-align: center;
  width: 140px !important;
}

#sort_item {
  height: 100%;
}

.dropdown-content li > span {
  text-align: center;
}

#nav-mobile {
  display: flex;
  align-items: center;
}

.sort ul {
  overflow: hidden;
}

.caret {
  fill: transparent !important;
}

.sidenav a {
  font-weight: 400 !important;
}

#mobile-demo .sort input.select-dropdown {
  color: black !important;
  margin: 0 auto;
  font-weight: 400 !important;
  font-size: 14px;
}

#mobile-demo li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile-demo {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .notifications {
    padding: 0px !important;
  }
}

@media screen and (max-height: 600px) {
  #right a {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  #right a {
    display: none !important;
  }
}

.marginTop-box {
  margin-top: 12%;
}

.marginTop-task {
  margin-top: 5%;
}

.marginTop-notif {
  margin-top: 8%;
}

/* Plan Lekcji */
.plan {
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan-img {
  box-shadow: 0 0 20px 5px #0000004b;
}

/* Logo */
span.logo {
  margin-left: 2rem;
}

.brand-logo {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.card {
  text-align: center;
}

.notif-title {
  margin-bottom: 1rem !important;
}

.card-content {
  font-size: 17px;
}
